
    :root{ /* permet de cibler la racine de l'arbre représentant le document. Pour un document HTML, :root ciblera donc l'élément <html> et aura le même comportement que le sélecteur html mais sa spécificité sera plus forte.*/
      --base : #ffc600;
      --spacing : 10px;
      --blur: 10px;
    }

    img{
      padding: var(--spacing);
      background: var(--base);
      filter: blur(var(--blur));
    }

    .hl{
      color: var(--base);
    }
    
    body {
        text-align: center;
        background: #193549;
        color: white;
        font-family: 'helvetica neue', sans-serif;
        font-weight: 100;
        font-size: 50px;
      }
  
      .controls {
        margin-bottom: 50px;
      }
  
      input {
        width: 100px;
      }