#conteneur{
    width: 960px;
    margin: 0 auto;
    background-color: skyblue;
    color: #cccccc;
}

header{
    height: 60px;
    line-height: 60px;
    background: rgb(151, 99, 56);
    text-align: center;
}

nav{
    height: 30px;
    background-color: rgb(83, 70, 60);
    text-align:center;
    line-height: 30px;
   
}

section{
    height: 500px;
    margin: 10px;
    background: gray;
}

.section1, .section2, .section3, .section4 {
    width: 468px;
    height: 248px;
    float: left;
    border: 1px solid;
}


.c1, .c2, .c3, .c4 {
    border: 1px solid;
    height: 122x;
    width: 48%;
    text-align: center;
    line-height: 122px;
    float: left;
    width: 232px;
}

.c1{
    background-color: salmon;
}
.c2{
    background-color: rgb(46, 100, 77);
}
.c3{
    background-color: rgb(9, 12, 39);
}
.c4{
    background-color: rgb(119, 67, 62);
}

footer{
    height: 70px;
    background-color: rgb(77, 73, 74);
    text-align:center;
    line-height: 70px;
}

.clear{
    clear: both;
}